@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@page {
  size: auto;  /* auto is the initial value */
  margin: 0mm; /* this affects the margin in the printer settings */
}

html, body {
	scroll-behavior: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 16px;
	background-color: #FFF;
}

body {
	padding: 0;
	margin: 0;
}

input {
	border: none;
	background-color: rgba(0,0,0,0);
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

strong {
	font-weight: 600;
}

* {
	outline: none;
	font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1rem;
	font-weight: 300;
}

::selection {
	background-color: #ddd;
}
::-moz-selection {
	background-color: #ddd;
}